@import "tailwindcss";
@import "tw-animate-css";
@import "swiper/css";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-pretendard), "Apple SD Gothic Neo", "Malgun Gothic",
    "맑은 고딕", sans-serif;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-100: #2f2f2f;
  --color-gray-90: #454545;
  --color-gray-80: #595959;
  --color-gray-70: #727272;
  --color-gray-60: #979797;
  --color-gray-50: #bfbfbf;
  --color-gray-40: #d4d4d4;
  --color-gray-30: #e4e4e4;
  --color-gray-20: #efefef;
  --color-gray-10: #f7f7f7;
  --color-primary-50: #b0e100;
  --color-primary-40: #bff207;
  --color-primary-30: #d9ff4f;
  --color-dark-bg: #1e1e1e;
  --shadow-common: 0px 2px 6px 12px rgba(0, 0, 0, 0.24);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --container-width: min(100%, 1024px);
}

.bubble {
  position: relative;
  /* display: inline-block; */
  padding: 8px;
  border-radius: 8px;
  height: 36px;
  background: rgba(255, 255, 255, 0.1);
}
.bubble::after {
  bottom: 100%;
  right: 39px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-width: 6px;
  margin-left: -6px;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
